.internal-page {
    width: 100%;
    min-height: 100svh;
    background: radial-gradient(circle at 0% 0%, rgb(0, 67, 122) 0%, rgb(0, 30, 80) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    &__interface {
        color: var(--white);
        box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.09);
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin: rem(25);
    }

    &__content {
        padding: rem(40);
        background: rgb(0, 30, 80);
        min-height: rem(600);
        max-width: rem(455);

        section {
            display: none;
        }

        .active_content {
            display: block;
        }

    }

    section {
        h1 {
            font-size: rem(35);
            margin-bottom: rem(25);
        }

        p {
            font-size: rem(20);
            margin-bottom: rem(25);
        }

        input,
        textarea,
        select {
            padding: rem(10);
            border-radius: 2px;
            border: 1px solid rgb(0, 30, 80);
            background: rgb(0, 67, 122);
            color: var(--white);
            font-size: rem(15);
            font-weight: 500;
            transition: all .3s ease-in-out;

            &::placeholder {
                color: var(--white);
                opacity: 0.7;
            }
        }

        form {
            display: flex;
            flex-direction: column;
        }

        button {
            color: var(--white);
            background: #00437a;
            border: 1px solid #00437a;
            padding: rem(10);
            cursor: pointer;

            &:hover {
                color: var(--white);
                border: 1px solid var(--white);
            }

        }
    }

    @import 'sidebar';
    @import 'password-change';
    @import 'cars';
}