.password-change {
    flex-direction: column;
    justify-content: center;

    &__data {
        display: flex;
        flex-direction: column;

        &__item {
            display: flex;
            flex-direction: column;
            gap: rem(10);
            margin-bottom: rem(20);

            &:last-child {
                margin-top: rem(10);
            }

            button {
                max-width: max-content;
                display: block;
                margin-left: auto;
            }
        }
    }
}