.wolks-logo-login {
    position: absolute;
    z-index: 1;
    filter: invert(1);
    top: rem(30);
    left: rem(30);

    width: 50px;
}

.login-page {
    width: 100%;
    height: 100svh;
    background: radial-gradient(circle at 0% 0%, rgb(0, 67, 122) 0%, rgb(0, 30, 80) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    &__error {
        color: red;
        font-size: rem(15);
        margin-bottom: rem(25);
        text-align: center;
        display: none;
    }

    &__form {
        background: rgb(0, 67, 122);
        box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.09);
        color: var(--white);
        max-width: max-content;
        padding: rem(40);
        border-radius: 5px;

        a {
            color: var(--white);
        }

        form {
            display: flex;
            flex-direction: column;
            margin-bottom: rem(25);
        }

        .title-section {
            font-size: rem(30);
            text-align: center;
        }

        input {
            border: 1px solid var(--white);
            border-radius: 1px;
            margin-bottom: rem(25);
            color: var(--white);
            padding: rem(10);

            &::placeholder {
                color: var(--white);
            }
        }



        button {
            color: var(--white);
            background-color: rgb(0, 30, 80);
            padding: rem(10);
            cursor: pointer;

            &:hover {
                background-color: rgb(12, 79, 133);
                color: var(--white);
            }

        }

    }
}